*.o
*.bin
*.elf
*.dbi
*.dtb
*.dts
*.img
*.d
user/_*
user/bin/*
user/bin/
report/*
no-kernel/*
no-kernel
report
.vscode
.vscode/*
.gdb_history
.continue
commit_history.txt
kernel.dump
user.dump
compile_commands.json
error.txt
.clangd
.clangd/*
.cache/*
.cache
